*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;  
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCAF02;
    height: 70px;
    position: sticky;
    top: 0px;
  }
  
  .navbar .logo img{
     width: 35%;
     padding-left: 58px;
  }
  
  .nav-items{
    margin-right: 78px;
  }
  
  .nav-items a{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    padding: 0px 25px;
  
  }
  
  .container{
    background-color: #000000;
    padding-left: 58px;
  }
  
  .home-page{
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 58px;
  }
  
  .home-page .image >img{
    width: 75%;
    padding-left: 5%;
  
  }
  
  .home-page .content{
    width: 68%;
  }
  
  .home-page .content h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    color: #FFFFFF;
  }
  
  .home-page .content p{
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
  }
  
  .content .btn{
    background-color: #FCAF02;
    border-radius: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    padding: 14px 114px;
    border: none;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  
  .contact-us .btn-1{
    background-color: #FCAF02;
    border-radius: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    padding: 14px 114px;
    border: none;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 35%;
  }
  
  .contact-us h1{
    color: #FCAF02;
    padding-bottom: 20px;
  }
  
  form{
    padding: 60px 0px;
  }
  
  .form-control input{
    width: 93.5%;
    border: 2px solid #FCAF02;
    border-radius: 100px;
    background-color: #000000;
    height: 45px;
    margin: 10px;
    outline: none;
    padding-left: 20px;;
  }
  
  .form-control-1 input{
    width: 45%;
    background-color: #000000;
  
  }
  
  ::placeholder{
    color: #FCAF02;
    font-size: 17px;
  }
  
  .table{
    color: #FCAF02;
    font-size: 17px;
    padding-bottom: 60px;
    padding-right: 55px;
  }
  
  table, thead{
     width: 100%;
     border: 2px solid #FCAF02;
  }
  
  td, th{
    border: 2px solid #FCAF02;
  }
  
  table, tr, td, th{
   
    border-collapse: collapse;
    padding: 25px;
  }
  
  tfoot td{
    border: 2px solid black;
  }
  
  tfoot{
    color: #000000;
    background-color: #FCAF02;
    border: 2px solid #FCAF02;
  }
  
  