body{
    background-color: black;
}
a{
     margin-left: 50px ;
     padding-right: 50px;
}
.topnav {

    position: absolute;
    width: 1728px;
    height: 86px;
    left: 0px;
    top: 0px;
    text-align: center;
       
    background-color: #FCAF02;
}
h1{
    position: absolute;
    width: 736px;
    height: 78px;
    left: 58px;
    top: 170px;
    margin-top: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;

}
.topnav a.logo{

    position: absolute;
    width: 127px;
    height: 39px;
    left: 58px;
    top: 26px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
}


.topnav a.split {
    float: right;
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
  }

  #text p{
    color: white;
    position: absolute;
    width: 917px;
    height: 238px;
    left: 63px;
    top: 285px;
    font-family:Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  img{
    position: absolute;
    width: 697px;
    height: 482px;
    left: 950px;
    top: 173px;

  }
  .btn{
    position: absolute;
    width: 323px;
    height: 66px;
    left: 63px;
    top: 573px;

    font-family:Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    background: #FCAF02;
    border-radius: 500px;
  }

  .contact{
    position: absolute;
    width: 369px;
    height: 78px;
    left: 63px;
    top: 720px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    color: #FCAF02;
  }
  #name{
    box-sizing: border-box;

    position: absolute;
    width: 1570px;
    height: 82px;
    left: 63px;
    top: 913px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    
    border: 2px solid #FCAF02;
    border-radius: 100px;
    background-color: black;
  }
  #email{
    box-sizing: border-box;

    position: absolute;
    width: 1570px;
    height: 82px;
    left: 63px;
    top: 1045px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    background-color: black;
    color: #FCAF02;


    border: 2px solid #FCAF02;
    border-radius: 100px;
  }
  #mob{
    box-sizing: border-box;

    position: absolute;
    width: 730px;
    height: 82px;
    left: 63px;
    top: 1177px;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    background-color: black;

    color: #FCAF02;

    border: 2px solid #FCAF02;
    border-radius: 100px;
  }

  #city{
    
    box-sizing: border-box;

    position: absolute;
    width: 767px;
    height: 82px;
    left: 866px;
    top: 1177px;

    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    background-color: black;

    color: #FCAF02;

    border: 2px solid #FCAF02;
    border-radius: 100px;
    }
button{
    box-sizing: border-box;

    position: absolute;
    width: 325px;
    height: 82px;
    left: 685px;
    top: 1326px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    background: #FCAF02;
    border: 2px solid #FCAF02;
    border-radius: 100px;
    }